# Build artifacts
*.bin
*.iso
*.o
*.elf
*.map

# VS Code
.vscode/
*.code-workspace

# Docker build cache
build_env/.venv/
build_env/__pycache__/
build_env/*.pyc

# OS output
target/
build/
iso/

# GRUB-related
target/x86_64/iso/boot/grub/grub.cfg


!target/.gitkeep
